<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Anmeldungen - {{ tutrn }}</title>
</head>
<body>
    <script>
        // Funktion zum Aktualisieren der Seite alle 15 Sekunden
        function autoReload() {
            setTimeout(function() {
                location.reload();
            }, 15000); // 15 Sekunden
        }

        // Seite beim Laden automatisch aktualisieren
        window.onload = autoReload;
    </script>
    <div class="container">
    	<h1>Anmeldungen - {{ tutrn }}</h1>
    	<div class="buttons sticky">
            <a href="/list" class="button">Zurück</a>
    		<a href="/" class="button">Home</a>
    		<a href="/negativliste/{{ tutorium }}" class="button">Negativliste</a>
            <a href="/logout" class="button">Logout</a>
            <!-- <a href="/list" class="button"><i class="fas fa-redo-alt"></i> Reload</a> -->
    		<a href="/download_csv/{{ tutorium }}" class="button">Download</a>    		
    		
    		<!-- <form action="/delete/{{ tutorium }}" method="post" style="display: inline;">
        		<button type="submit" class="button delete-button"><i class="fas fa-trash-alt"></i> Alle löschen</button>
        	</form> -->
        	
    	</div> 
    	
    	<div class="filter" >
        <form action="/list/{{ tutorium }}" method="GET">
            <label for="schueler">Filtern nach Schüler:</label>
            <select name="schueler" id="schueler">
                <option value="">Alle</option>
                {% for schueler in schueler_list %}
                    <option value="{{ schueler }}">{{ schueler }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="button">Filtern</button>
        </form>
        </div>
        
    	<table border="1">
            <tr>
                <!-- <th>ID</th> -->
        	    <th>Schüler</th>
        	    <th>Zeitpunkt</th>
                <th>Status</th>        	    
            </tr>

            <tr><form action="/list/{{ tutorium }}/add" method="GET">
                <td><label for="new_schueler"><b>Schüler manuell hinzufügen:</b></label>
                    <select name="new_schueler" id="new_schueler" style="width: 90%;">
                    {% for schueler in schueler_list %}
                        <option value="{{ schueler }}">{{ schueler }}</option>
                    {% endfor %}
                </select></td>
                <td><!-- Input field for manual timestamp entry -->
                    <label for="zeitpunkt">Zeitpunkt:</label>
                    <!-- Button to set the current timestamp -->
                    <div style="display: inline; width: 90%;"><button type="button" class="button" onclick="setCurrentTime()">Jetzt</button>
                    <input type="text" name="zeitpunkt" id="zeitpunkt" style="width: 70%;"></div></td>
                <td><button type="submit" class="button">Hinzufügen</button></td></form>
            </tr>
        	{% for anmeldung in anmeldungen %}
            <tr>
                <td>{{ anmeldung[0] }}</td>
                <td>{{ anmeldung[1] }}</td>
                <td><!-- {{ anmeldung[2] }} --></td>
            </tr>
                {% endfor %}
    	</table>
        <script>
        // Function to set current time in the timestamp input field in ISO 8601 format adjusted for CET/CEST
        function setCurrentTime() {
            var now = new Date();

            // Get the timezone offset in minutes and convert to milliseconds
            var timezoneOffset = now.getTimezoneOffset() * 60000;

            // Adjust for the local timezone
            var localTime = new Date(now.getTime() - timezoneOffset);

            // Format the local time in ISO 8601 format (YYYY-MM-DDTHH:mm:ss)
            var formattedTime = localTime.toISOString().slice(0, 19);

            document.getElementById('zeitpunkt').value = formattedTime;
        }

        setCurrentTime();
        </script>
    </div>
</body>
</html>
