<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studyOS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">       
        <div class="header">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="studyOS Logo" class="logo">
            <h1>studyOS</h1>
            <a href="/list" class="button">Zur Liste</a>
        </div>
        
        <p class="test">MySQL is een van 's werelds populairste relationele databasebeheersystemen. Het is beschikbaar als open source software en als eigen enterprise-versie voor verschillende besturingssystemen en vormt de basis voor veel dynamische websites.</p>
    </div>
</body>
</html>
