
<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" 
          content="width=device-width,  
                   initial-scale=1.0"> 
    <style> 
        .container { 
            height: 1500px; 
        } 
  
        .sticky { 
            position: sticky; 
            top: 20px; 
            background-color: rgb(32, 165, 20); 
            color: white; 
            padding: 10px; 
        } 
    </style> 
</head> 
  
<body> 
    <div class="container"> 
        <p>Please Scroll down</p> 
        <div class="sticky"> 
            <p>This div will be fixed after scrolling to it</p> 
        </div> 
        <p> 
            Web Design is a field related to designing 
            websites on the Internet. Without a good design, 
              a website fails to perform well and cannot produce 
            a good impact on the user. Design is a creative  
              process that affects the ranking of the brand.  
            A good website design helps to create an engaging  
            online presence that captivates the audience. Each  
            distinct day gives you an opportunity to learn, 
            progress, and do the things that push you toward  
            your goals or that make you satisfied at the end of 
            the day. Web Design helps to make your web pages stand 
            out in terms of design and user experience. It 
            integrates technical and creative skills, by which 
            you can build and maintain web pages very easily. 
        </p> 
    </div> 
</body> 
  
</html>
